// Fichier de ressources pour l'icone de l'application
// L'ID 1 est l'icone principale de l'executable
1 ICON "app_icon.ico"

// Informations de version
VS_VERSION_INFO VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
FILEFLAGSMASK 0x3F
FILEFLAGS 0x0L
FILEOS 0x40004L
FILETYPE 0x1L
FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "FileDescription", "Application de sauvegarde - BackupJZ"
            VALUE "FileVersion", "1.0.0.0"
            VALUE "ProductName", "BackupJZ"
            VALUE "ProductVersion", "1.0.0.0"
            VALUE "CompanyName", "CSystem"
            VALUE "LegalCopyright", "Copyright (C) 2025 - Développé par CSystem"
            VALUE "OriginalFilename", "BackupJZ.exe"
            VALUE "InternalName", "BackupJZ"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END

